body {
  margin: 0;
  height: 2000px;
}
section {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg);
  height: 578px;
  margin: 100px;

  position: relative;
  overflow: hidden; /* 밖으로 튀는 것을 숨김 */
}
.photo {
  position: absolute;
  top: 90px;
  left: 25%;
  animation: photo 2s ease-out infinite alternate;
}
.word{
    color: aliceblue;
    font-size: 3rem;
    position: absolute;
    top: 250px;
    right: 15%;
    animation: cake 1s ease-in-out;
}

@keyframes photo {
  from {
    left: -25%;
    opacity: 0;
  }
  to {
    left: 25%;
    opacity: 1;
  }
}

/* 두번째 섹션 */
.section2 {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_pick_bg_251226.jpg);
  height: 578px;
  margin-top: 100px;
  position: relative; /* ❗부모에 relative */
}
.cake{
    width: 615px;
    position: absolute; /* ❗absolute:꼭대기 기준 부모의 기준 바꾸려면 relative 쓰기 */
    top: 100px;
    right: 50px;
    animation: cake 2s ease-in-out infinite;
}
.pick{
    height: 100%;
    color: white;
    font-size: 5rem;
    width: 256px;
    position: absolute;
    top: 100px;
    left: 25%;
    animation: pick 1s ease-in-out;
}
@keyframes cake {
    from{
        right: -20px;
    }to{
        right: 20px;
    }
}
@keyframes pick {
    from{
        left: -25%;
        opacity: 0.5;
    }to{
        left: 25%;
        opacity: 1;
    }
}
@keyframes unPick {
    from{
        left: 25%;
    }to{
        left: -25%;
    }
}
