/* 기본 */
body{
    line-height: 1.6;
}
a{
    text-decoration: none;
}
#wrap{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
main{
   /* border: 1px solid blue;*/
   padding-top: 60px;
} 
 .sec-tit{
    background-color: rgb(70, 30, 107);
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
 }
 /* HEADER */
 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: space-between;
    z-index: 100;
 }
 .logo a{
    color: #000000;
    font-size: 1.2rem;
    line-height: 60px;
    margin-left: 1rem;
 }
/* 메뉴 기본 숨김 */
nav {
    display: none; /* 일단 숨김 */
    position: fixed;
    top: 60px; /* 헤더 높이 만큼 내림 */
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.95); /* 어두운 배경 */
    z-index: 99;
    padding: 10px 0;
}
/* JS 토글 이후 추가 내용 */
nav.is-open{
    display: block; /* 보이게 함 */
}
/* 메뉴 내부 리스트 스타일 */
nav.is-open ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
nav a {
    color: #fff;
}

nav a:active {
    color: rgb(147, 1, 204);
}

nav.is-open ul li {
    margin: 10px 0;
}

nav.is-open ul li a {
    font-size: 1.5rem;
    font-weight: bold;
}


 /* 햄버거 버튼 */
 /* <!-- ❗ 방법 1 --> */
 /* .menu-toggle-btn{
    color: #fff;
    font-size: 25px;
    background: transparent;
    border: none;
 } */

 /*  span3개로 구성시에는 이렇게 */ 
  .menu-toggle-btn{
    width: 2rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
  }
 .menu-toggle-btn span{
    display: block;
    height: 3px;
    background-color: #000000;
    margin-bottom: 5px;
 }

 /* SLIDER */
 .slider{
    margin-top: 30px;
 }
 .slider img{
    width: 100%;
    height: auto;
 }

 /* common */
 .container{
    /* border: 1px solid rebeccapurple; */
    width: 100%;
 }

 .sec-tit{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.desc{
    text-align: center;
    font-size: 1rem;
}

/* promption */
.promo-list li{
    margin-bottom: 1.5rem;
}
.promo-list a{
    /* border: 1px solid red; */
    display: block;
    text-align: center;
    background-color: rgb(229, 217, 255);
}
.promo-list a h3{
    color: #777;
    font-weight: 600;
}
.promo-list a p{
    color: #888;
    font-size: 0.8rem;
}

/* work */
.work-list li{
    margin-bottom: 1.5rem;
}
.work-list a{
    display: block;
    background: rgb(229, 217, 255);
    text-align: center;
    padding: 2rem;
}
.work-list li h3{
    color: #777;
    font-weight: 600;
}
.work-list li span{
    color: #888;
    font-size: 0.8rem;
}

/* blog */
.blog-list li{
    margin-bottom: 1.5rem;
}
.blog-list a{
    text-align: center;
}
.blog-list h3{
    font-size: 1rem;
    color: #777;
    font-weight: 600;
}

/* contact */
textarea{
    width: 100%;
    height: 120px;
    font-size: 2rem;
    padding: 2rem;
}

/* footer */
footer{
    font-size: 0.7rem;
    /* 16px=1rem */
    color: #888;
}

/* 태블릿 최소 768px 이상일 때 적용 */
@media (min-width: 768px){
    .promo-list{
        display: flex;
        /* wrap: 자식 요소가 부모 컨테이너의 너비를 초과할 때,
        자동으로 다음 줄에 넘어가게 설정 
        no-wrap: 한 줄에 강제로 배치*/
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .promo-list li{
        width: 48%;
    }
    /* (과제1) work blog 2열로 맞추면서 */
    .work-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .work-list li{
        width: 48%;
    }
    .blog-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }
    .blog-list li{
        width: 48%;
    }
    .sec-tit{ /* (과제1) 제목만 살짝 키움 */
        font-size: 2.1rem;
    }
}
/* PC 1024이상일 때 */
/* (과제2) 1024이상일 때 
    햄버거 메뉴가 사라지고 nav 생김*/
@media (min-width: 1024px){
    /* header */
    .menu-toggle-btn{ /* 햄버거 숨김 */
        display: none;
    }
    nav{ /* nav 표시 */
        position: static;
        display: block;
        background: none;
    }
    nav ul{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    nav li{
        margin-left: 1.5rem;
    }
    nav a{
        color: #fff;
        font-size: 0.95rem;
    }
    
    /* promotion 4열, work 4열 */
    .promo-list li,
    .work-list li{
        width: 23%;
    }
    
    /* blog 3열 */
    .blog-list li{
        width: 31%;
    }
    .sec-tit{
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }
}